div{
	width: 320px;
}

table{
	text-align: center;
}

.glyphicon {
    font-size: 31px;
}

.fa{
	font-size:  31px;
}

.divHeader{
	margin: 0 0 10px 0;
	width: 100%;
	height: 65px;
}

.navBar {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 320px;
}

.main {
	margin-top: 65px;
}

.wapperTable {
	margin: 0 auto;
}

#div_User {
	text-align: center;
	border: 1px solid black;
}

#div_User > div {
	display: inline-block;
	vertical-align: middle;
}

#picture {
	border: 1px solid black;
	width: 100px;
	height: 100px;
}

#userInfo {
	width: 200px;
	height: 50px;
}

#userInfoTable{
	width: 300px;
}

#space {
	margin: 0 0 10px 0;
}

#div_Bus{
	text-align: center;
	border: 1px solid black;
}

.E-busmap{
	margin: 0 -15px;
	padding: 0px;
}
