
::-webkit-scrollbar { 
    display: none !important; 
}

body {
	overflow: hidden;
	&::-webkit-scrollbar {
	display: none; //Safari and Chrome
	}
	-ms-overflow-style: none; //IE
}

div{
	width: 320px;
}

table{
	text-align: center;
	box-shadow: 2px 2px #BBBBBB;
	border-radius: 0 5px 5px 5px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	padding: 0px;
	line-height: 1.0;
}

img{
	vertical-align: middle;
}

td > * {
    vertical-align : middle;
}

.color-darkgray{
	color:#000 !important; background-color:#E3E3E3 !important;
}

.color-lightgray{
	color:#000 !important; background-color:#f6f6f6 !important;
}

.color-white{
	color:#BBBBBB !important; background-color:#e2e2e2 !important;
}

.small-size{
	font-size: 10px;
	size: 10px;
	height: 10px;
}

.glyphicon {
    font-size: 32px;
}

.smallicon{
	font-size: 17px;
}

.img_frame{
	display: inline-block;
	vertical-align: middle;
}

.divHeader{
	width: 100%;
	margin: 0;
	padding: 0;
}

.divHeader p{
	text-align: left;
	text-weight: bold;
}

.navBar {
	text-align: center;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 320px;
	border-top: 1px solid #E3E3E3;
	border-left: 1px solid #f6f6f6;
	border-right: 1px solid #E3E3E3;
	border-bottom: 1px solid #f6f6f6;
	z-index: 9999;
}

.navBar .fa{
	font-size:  32px;
}

.navBar .w3-bar-item{
	border-left: 1px solid #E3E3E3;
	/*border-bottom: 1px solid #E3E3E3;*/
}

.navBar .w3-bar-item p{
	font-size: 20px;
}

.main {
	margin-top: 50px;
	background: #f6f6f6;
}

.wapperTable {
	width: 100%;
	margin: 0 0 5px;
	border-collapse:separate;
	border-bottom: 1px solid #E3E3E3;
	/*background: #FFFFCC;*/
}

.wapperTable tr{
	transition: background 0.3s ease;
}

.wapperTable tr:hover{
   	background: #E3E3E3;
}

.wapperTable tr:hover td:nth-child(1){
	background-color: #3baaba;
}

.wapperTable td{
    /*border-top:solid #F1F1F1 3px;*/
}

.wapperTable td:nth-child(1){
	/*background-color: #3baaba;*/
	background-color: #E3E3E3;
	width: 3px;
	border: none;
}

.wapperTable td:nth-child(2){
	background-color: #E3E3E3;
	width: 80px;
}

.wapperTable td:nth-child(3){
	background-color: #FFFFFF;
}

.wapperTable td:nth-child(2) p{
	font-size: 12px;
}

.wapperTable p{
	text-align: center;
	margin: 10px 3px 10px 3px;
}

#div_Dash{
	text-align: center;
	border-bottom: 1px solid #E3E3E3;
	border-right: 1px solid #E3E3E3;
	border-left: 1px solid #E3E3E3;
}

#div_Dash .header_p{
	margin-top: 30px;
}

#div_Dash table{
	margin-top: 10px;
}

#div_User {
	margin-top: 50px;
	text-align: center;
	display: none;
	min-height: 700px;
}

#div_User > div {
	display: inline-block;
	vertical-align: middle;
}

#picture {
	border: 1px solid black;
	width: 100px;
	height: 100px;
}

#userInfo {
	width: 200px;
	height: 50px;
}


#userInfoTable{
	width: 300px;
}

#space {
	margin: 0 0 10px 0;
}

#div_Bus{
	text-align: center;
	display: none;
	min-height: 700px;
}

.listBus{
	margin: 0 auto;
	padding: 0;
	width: 160px;
}

.listBusDetails{
	display: none;

}

#map{
	margin: 0 -15px;
	padding: 0px;
}

.stopNameOn{
	font-size: 11px;
}

#busmap{
	margin-top: 5px;
	margin-bottom: 10px;
	height: 100px;
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #FFFFCC;
}

.wapperTableS {
	width: 100%;
	margin: 0 0 5px;
	border-collapse:separate;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: #FFFFCC;
}